<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div id="app">

  <div v-for="(item,index) in mv" :key="index">
    {{index}} {{item}}
  </div>
<!--  <ul>-->
<!--    <li v-for="(item, index) in mv" :key="index">{{index}} {{item}}</li>-->
<!--  </ul>-->
</div>

<script src="../js/vue.js"></script>
<script>
  const app = new Vue({
    el: "#app",
    data: {
      mv: [
        {
          "capebs": "容量型"
        },
        {
          "ssdebs": "性能优化型"
        },
        {
          "ssd": "高性能型"
        }
      ]
    },


  })
</script>

</body>
</html>